body{
    background-color: rgb(196, 150, 240);
    text-align: center;
}

h1{
    font-size: 35px;
    color: rgb(34, 91, 72);
    text-shadow: 2px 2px 10px rgb(85, 64, 25);
    text-decoration: underline;
}
.set{

    border: 10px solid rgb(233, 13, 13);
    margin-top: 250px;
    border-radius: 10px;
}
.drum{
    font-size: 100px;
    padding: 50px;
    /* height: 25px;
    width: 25px; */
    border-radius: 10px;
    background-color: aquamarine;
    margin: 20px;
    text-shadow: 2px 2px 20px white;

}
.w{
    color: blue;
 background-image: url("images/drum1.png");
}
.a{
    color: blue;
    background-image: url("images/drum2.jpg");
}
.s{
      color: blue;
    background-image: url("images/drum3.png");
}
.d{
      color: blue;
    background-image: url("images/drum4.jpg");
}
.j{
      color: blue;
    background-image: url("images/drum5.jpg");
}
.k{
      color: blue;
    background-image: url("images/drum6.png");
}
.l{
      color: blue;
    background-image: url("images/drum7.jpg");
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }

  @media(max-width:1000px){
    .drum{
    width: 350px;
    height: 200px;
  text-align: center;
  margin: 10px 10px 10px 323px;
      display: block;
    }
  }